{% extends 'EduEleraningBundle::main.html.twig' %}

{% block fos_user_content %}
    {% block title %} <title>اتوماسیون دروس دانشگاهی</title>{% endblock %}

    {% block stylesheet %}
        <style type="text/css">
            .form {
                margin: 5px auto 0px auto;
                overflow: auto;
                padding-top: 50px;
                direction: rtl;
                border: 1px solid;
                border-radius: 20px;
            }
            form {
                padding:  0 30px;
            }

            .control-group {
                margin: 5px !important;
                height: 0 !important;
            }
        </style>
    {% endblock %}
    {% block body %}
        <div class="form" style="background-color: #7E7E7E; width: 480px;height: 450px;text-align: right;">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    {% endblock %}
{% endblock fos_user_content %}
