{% extends 'EduEleraningBundle::main.html.twig' %}

{% block fos_user_content %}
    {% block title %} <title>اتوماسیون دروس دانشگاهی</title>{% endblock %}

    {% block stylesheet %}
        <style type="text/css">
            .form {
                margin: 5px auto 0px auto;
                overflow: auto;
                padding-top: 5px;
                direction: rtl;
                border: 1px solid;
                border-radius: 20px;
            }
            form {
                padding:  0 30px;
            }

            .control-group {
                margin: 5px !important;
                height: 0 !important;
            }
        </style>
    {% endblock %}
    {% block body %}
        <div class="form" style="background-color: #7E7E7E; width: 480px;height: 450px;text-align: right;">
            <form action="{{ path("fos_user_registration_register") }}" method="post" class="form-horizontal">
                <table>
                    <input type="hidden" name="_csrf_token"/>

                    <div class="control-group">
                        <tr>
                            <td>
                                <label class="control-label  label label-important" for="email"
                                       style="text-align: center">ایمیل</label>
                            </td>
                            <div class="controls">
                                <td>
                                    <input type="text" id="email" name="_email" required="required" placeholder="ایمیل">
                                </td>
                                <td>
                                    <i class="icon-user">

                                    </i>
                                </td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td>
                                <label class="control-label  label label-important" for="username"
                                       style="text-align: center">نام کاربری</label>
                            </td>
                            <div class="controls">
                                <td>
                                    <input type="text" id="username" name="_username" required="required"
                                           placeholder="نام کاربری">
                                </td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td><label class="control-label label label-important" for="password"
                                       style="text-align: center">رمز ورود</label></td>
                            <div class="controls">
                                <td> <input type="password" id="password" name="_password" required="required" placeholder="کلمه عبور"></td><td><i class="icon-qrcode"></i></td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td><label class="control-label  label label-important" for="password2"
                                       style="text-align: center">تکرار رمز ورود</label></td>
                            <div class="controls">
                                <td><input type="text" id="password2" name="_password2" required="required"
                                           placeholder="تکرار رمز ورود"></td>
                                <td><i class="icon-user"></i></td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td><label class="control-label  label label-important" for="name"
                                       style="text-align: center">نام</label></td>
                            <div class="controls">
                                <td><input type="text" id="name" name="_name" required="required" placeholder="نام">
                                </td>
                                <td><i class="icon-user"></i></td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td><label class="control-label  label label-important" for="family"
                                       style="text-align: center">نام خانوادگی</label></td>
                            <div class="controls">
                                <td><input type="text" id="family" name="_family" required="required"
                                           placeholder="نام خانوادگی"></td>
                                <td><i class="icon-user"></i></td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td><label class="control-label  label label-important" for="phone"
                                       style="text-align: center">شماره تماس</label></td>
                            <div class="controls">
                                <td><input type="text" id="phone" name="_phone" required="required"
                                           placeholder="شماره تماس"></td>
                                <td><i class="icon-user"></i></td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td><label class="control-label  label label-important" for="melicode"
                                       style="text-align: center">کد ملی</label></td>
                            <div class="controls">
                                <td><input type="text" id="melicode" name="_melicode" required="required"
                                           placeholder="کد ملی"></td>
                                <td><i class="icon-user"></i></td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td><label class="control-label  label label-important" for="type"
                                       style="text-align: center">نوع کاربر</label></td>
                            <div class="controls">
                                <td>
                                    <select type="text" id="type" name="_type" required="required"
                                            placeholder="نوع کاربر">
                                        <option>
                                            مدیر سایت
                                        </option>
                                        <option>
                                            استاد
                                        </option>
                                        <option>
                                            دانشجو
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <i class="icon-user"></i>
                                </td>
                            </div>
                        </tr>
                    </div>
                    <div class="control-group">
                        <tr>
                            <td style="position: absolute; margin-right: 170px;"><input type="submit" id="_submit"
                                                                                        name="_submit"
                                                                                        class="btn btn-large btn-primary"
                                                                                        value="ثبت نام"/></td>
                        </tr>
                    </div>

                </table>
            </form>
        </div>
    {% endblock %}
{% endblock fos_user_content %}
