{% extends 'EduEleraningBundle::main.html.twig' %}

{% block body %}

    <div class="container">
        <h2 class="text-center">
            اضافه کردن دانشگاه
        </h2>

        <div class="adduniform">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}