{% extends 'EduEleraningBundle::main.html.twig' %}

{% block body %}

    <div class="container">
        <h2 class="text-center">
            اضافه کردن دانشگاه
        </h2>

        <div class="adduniform">
            {{ form_start(form) }}
            {{ form_widget(form.useres[0]) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}