{% extends 'EduEleraningBundle:Admin:adminmain.html.twig' %}

{% block main %}
    <h2 style="text-align: center">
        اضافه کردن دانشگاه
    </h2>

    <div class="adduniform">
        {{ form_start(form) }}
        {{ form_widget(form.useres[0]) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}