<html>
<head>

</head>
<body>
<a href="{{ path("addmanager") }}">افزودن دانشگاه</a>
<a href="{{ path("showuniversities") }}">مشاهده لیست دانشگاه های ثبت شده</a>
<a href="{{ path("extensionuniversity") }}">تمدید حساب دانشگاه</a>
</body>
</html>