{% extends 'EduEleraningBundle::layout1.html.twig' %}

{% block menu %}
    <li>
        <a href="{{ path('a_main') }}">
            <span class="icon"><i class="icon-dashboard"></i></span>
            <span class="text">
            داشبورد
            </span>
        </a>
    </li>

    <li>
        <a href="{{ path('adduniversity') }}">
            <span class="icon"><i class="icon-book"></i></span>
            <span class="text">
            ثبت دانشگاه
            </span>
        </a>
    </li>

    <li>
        <a href="{{ path('showuniversities') }}">
            <span class="icon"><i class="icon-magic"></i></span>
            <span class="text">
            مشاهده دانشگاه ها
            </span>
        </a>
    </li>

    <li>
        <a href="{{ path('extensionuniversity') }}">
            <span class="icon"><i class="icon-money"></i></span>
            <span class="text">
                تمدید حساب دانشگاه
            </span>
        </a>
    </li>

    <li>
        <a href="#">
            <span class="icon"><i class="icon-bell"></i></span>
            <span class="text">
                مشاهده نظرات
            </span>
        </a>
    </li>
{% endblock %}

{% block main %}
    <div class="span2 center">
        <div class="stat-box medium-blue">
            <i class="icon-book icon-large"></i>
            <span class="stat-text">ثبت دانشگاه</span>
        </div>
    </div>

    <div class="span2 center">
        <div class="stat-box medium-blue">
            <i class="icon-money icon-large"></i>
            <span class="stat-text">تمدید حساب دانشگاه</span>
        </div>
    </div>
{% endblock %}
