{% extends 'EduEleraningBundle:Manager:main.html.twig' %}

{% block main %}
    <h2 style="text-align: center">
        ثبت  گروه
    </h2>

    <div class="adduniform">
        {{ form(form) }}
    </div>
{% endblock %}