{% extends 'EduEleraningBundle::layout.html.twig' %}

{% block Body %}

    <div class="span4 offset5 registeruni">
        {{ form(form) }}
    </div>
    {#<form action='{{ path("a_main") }}'>#}
    {#<ul>#}
    {#<li><input type="text" placeholder="نام دانشگاه"></li>#}
    {#<li><input type="text" placeholder="شماره تماس"></li>#}
    {#<li><input type="text" placeholder="وب سایت"></li>#}
    {#<li><input type="text" placeholder="تاریخ انتقضا"></li>#}
    {#<li><input type="text" placeholder="مدیر دانشگاه"></li>#}
    {#<li><button type="submit" class="btn-danger">ثبت دانشگاه</button></li>#}
    {#</ul>#}
    {#</form>#}
{% endblock %}