{% extends "EduEleraningBundle::layout.html.twig" %}

{% block Body %}

    <div class="topmenu">
        <div class="span1 offset1 firstzirmenu" style="margin-left: 200px">
            <a href="#"><i class="icon-home icon-white"></i></a>
        </div>
        <div class="span1 zirmenu">
            <a href="#"><i class="icon-align-justify icon-white"></i></a>
        </div>
        <div class="span1 zirmenu">
            <a href="#"><i class="icon-ok-circle icon-white"></i></a>
        </div>
    </div>

    <div class="container">
        <div class="span6 offset3">

        </div>
    </div>

{% endblock %}